<form *ngIf="!newMission && mission" [formGroup]="missionForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="date">Start Date:</label>
    <input type="date" id="date" formControlName="date" />
    <div *ngIf="missionForm.get('date')?.invalid && missionForm.get('date')?.touched">
      <p *ngIf="missionForm.get('date')?.errors?.['required']">Date is required.</p>
    </div>
  </div>

  <div>
    <label for="name">Mission Name:</label>
    <textarea id="name" formControlName="name"></textarea>
    <div *ngIf="missionForm.get('name')?.invalid && missionForm.get('name')?.touched">
      <p *ngIf="missionForm.get('name')?.errors?.['required']">Name is required.</p>
    </div>
  </div>

  <div>
    <label for="description">Mission Description:</label>
    <textarea id="description" formControlName="description"></textarea>
    <div *ngIf="missionForm.get('description')?.invalid && missionForm.get('description')?.touched">
      <p *ngIf="missionForm.get('description')?.errors?.['required']">Description is required.</p>
    </div>
  </div>

  <div *ngIf="!mission?.id">
    <button (click)="onCancel($event)">Cancel</button>
    <button>Submit</button>
  </div>
</form>

<app-discoveries *ngIf="mission?.id" [missionId]="mission?.id!"></app-discoveries>
