form {
  padding: 0 1ch;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stretch {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.delete {
    border: none;
}


.row {
  width: 100%;
  display: flex;
  align-items: center;
}

.row textarea {
    width: 100%;
}

.buttons {
    display: flex;
    gap: 1ch;
}

.header input {
  font-size: 1.5rem;
}

.description {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  width: 100%;
}

input[type="date"] {
  font-size: 1rem;
}

input[type="date"], textarea, input[type="text"] {
  background: var(--lighter-background-color);
  border: none;
  font-family: Lato;
  color: var(--main-color);
}
