<h1 id="tableLabel">Weather dropdown</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!dropdownDtos"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="dropdownDtos">
    <thead>
        <tr>
            <th>Name</th>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <div>
        </div>
      </tr>
        <tr *ngFor="let planetDropdown of dropdownDtos">
          <td>{{ planetDropdown.name }}</td>
          <td>{{ planetDropdown.id }}</td>
        </tr>
    </tbody>
</table>

<select [ngModel]="selectedPlanet" (ngModelChange)="onPlanetSelect($event)" name="sel3">
  <option [ngValue]="planetDropdown.id" *ngFor="let planetDropdown of dropdownDtos">{{planetDropdown.name}}</option>
</select>
