.planet {
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#planet-name {
  font-size: 2em;
  font-family: "Cherry Bomb";
  border-radius: 0.5ch;
  text-align: center;
}

  option {
    background-color: var(--main-background-color);
  }
