.planet {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

i {
  font-size: small;
  color: #797883;
}

img {
  max-width: 30vw;
}

#planet-name {
  font-size: 2em;
  font-family: "Cherry Bomb";
  border-radius: 0.5ch;
  text-align: center;
}

option {
  background-color: var(--main-background-color);
}
