.discoveries {
    padding-inline-start: 3ch;
    padding-right: 3ch;
    display: flex;
    flex-direction: column;
}

app-discovery-form {
  display: initial;
}

.new-discovery {
  border: none;
  background: var(--lighter-background-color);
  font-size: 1.2rem;
  color: #797883;
}
