<div class="discoveries-wrapper">
  <div class="discoveries">
    <ng-container *ngIf="discoveries.length > 0">
      <div *ngFor="let discovery of discoveries">
        <app-discovery-form *ngIf="discovery" [missionId]="missionId" [discovery]="discovery" [discoveryTypes]="discoveryTypes"></app-discovery-form>
      </div>
    </ng-container>
    <div *ngIf="newDiscovery">
      <app-discovery-form [(discovery)]="newDiscovery" [missionId]="missionId" [discoveryTypes]="discoveryTypes" (discoveryChange)="onDiscoveryChange()"></app-discovery-form>
    </div>
    <div *ngIf="!newDiscovery" class="discovery">
      <span>☄️</span>
      <button class="new-discovery" (click)="onNewDiscovery()" type="submit">Report new discovery...</button>
    </div>
  </div>
</div>

